---
layout: default
---
<section class="full" id="banner">
    <div class="logo">
        <img src="../images/logo.png" alt="Logo BS-Valley">
    </div>
    <a href="#hours" class="more"><span>Öffnungszeiten</span></a>
</section>

<section id="hours" class="wrapper">
    <div class="inner clearfix">
        <div class="col-1-2">
            <div class="left">
            <h3>Öffnungszeiten</h3>
            <ul>
                {% for period in site.data.opening-hours %}
                <ul class="inline"> 
                    <li>{{ period.day }}</li>
                    <li>{{ period.time }}</li>
                </ul>
                {% endfor %}
            </ul>
            </div>
        </div>
        <div class="col-1-2">
            <div class="right">
            <h3>Kontakt</h3>
            <ul>
                {% for contact in site.data.contact %}
                <ul class="inline"> 
                    <li>{{ contact.type }}</li>
                    <li>{{ contact.data }}</li>
                </ul>
                {% endfor %}
            </ul>
            </div>
        </div>
    </div>
</section>

