
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
        font-family: $base-font-family;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
}

body {
&.is-loading {
    *, *:before, *:after {
        animation: none !important;
        transition: none !important;
    }
}
}

section {
    max-width: 100%;
    position: relative;
    overflow: hidden;
		padding: 4em 0 2em 0;
}

h3 {
    font-size: 1.15em;
    line-height: 1.75em;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* intro */

#intro {
	position: relative;
	overflow: hidden;
	height: 100vh;
	background: url(../images/background_mini.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;

	.logo {
		position: relative;
		max-width: 100%;
		margin-top: 45vh;
		max-height: 40vh;
	}

	.more {
		position: absolute;
		text-align: center;
		left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
		bottom: 20px;
		margin-top: 2em;
		text-align: center;
		text-transform: uppercase;
		color: white;
		font-size: 0.8em;
		margin-bottom: 10px;
		text-decoration: none;

		&:after {
			content: '';
			display: block;
			margin: 0.5em 0 0 0;
			height: 1.5em;
			background-image: url('../images/arrow.svg');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
	}
	}
}




/* Opening opening-hours */

#opening-hours {
	margin: 30px;
}

.left {
    white-space: nowrap;
    width: 70%;
    margin: auto;
}
.right {
    white-space: nowrap;
    width: 70%;
    margin: auto;
}

ul {
    list-style: none;
}

ul li {
   font-size: 0.8em;
}

.inline {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.inline li{
    display: table-cell;
    list-style: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix {

    &:after {
    content: "";
    clear: both;
    }
}

@media all and ( min-width: 800px ) {

  .col-2-3 {
    float: left;
    width: 66.66%;
  }
  .col-1-2 {
    float: left;
    width: 50%;
  }
  .col-1-3 {
    float: left;
    width: 33.33%;
  }
  .col-1-4 {
    float: left;
    width: 25%;
  }
  .col-1-8 {
    float: left;
    width: 12.5%;
  }

}

footer {
    text-align: center;
    display: block;
    position: relative;
    margin: 2em 0 2em 0;
}

// Social Media
.facebook {
    background-image: url('../images/social_facebook.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 1.5em;
    width: 1.5em;
    display: inline-block;
}

@media screen and (max-width: 250px) {

        #intro .more {
            display: none;
        }

}

@media screen and (max-width: 1300px) {
        #opening-hours .left, .right {
            width: 80%;
        }

				#opening-hours ul li {
					font-size: 0.8em;
				}
}

@media screen and (max-width: 900px) {
        #opening-hours .left{
            width: 100%;
            white-space: normal;
        }

        #opening-hours .right {
            width: 100%;
            white-space: normal;
						margin-top: 30px;
        }

}

@media screen and (max-height: 650px) {

        #intro .logo {
            margin-top: 30vh;
        }
}

@media screen and (max-height: 400px) {

        #intro .logo {
            margin-top: 10vh;
        }
}

//Animation

body.is-loading {
    #intro {
        img {
            transform: scale(0.95);
            opacity: 0;
        }

        .more {
            transform: translateY(8.5em);
            opacity: 0;
        }

        &:after {
           opacity: 1;
        }
    }
}
